<%#include "banner.h"%>
<% tfetch(Banner, banner) %>
<div class="banner-text-agile">
  <div class="container">
    <div class="banner-w3lstexts text-white text-center">
      <%== banner.html() %>
    </div>
  </div>
</div>
