<%#include "featured.h"%>
<% tfetch(Featured, featured) %>

<div class="middle-w3l" style="background: url(<%== featured.image() %>) no-repeat right;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-4 button">
      </div>
      <div class="col-lg-6 col-md-8 left-build-wthree py-5 px-sm-5 px-4">
        <div class="py-xl-5 py-lg-3 px-xl-4">
          <%== featured.html() %>
        </div>          
      </div>
    </div>
  </div>
</div>
