<%#include "contact.h"%>
<% tfetch(Contact, contact) %>

<div class="row border-bottom py-lg-4 py-3">
  <div class="col-xl-7 col-lg-6 header_agileits_left">
    <ul>
      <li class="mr-3">
        <i class="fas fa-phone mr-2"></i> <%= contact.phone() %> </li>
      <li>
        <i class="fas fa-envelope mr-2"></i>
        <a href="mailto:info@example.com"> <%= contact.email() %> </a>
      </li>
    </ul>
  </div>
  <div class="col-xl-5 col-lg-6 header_right text-center mt-lg-0 mt-2">
    <div class="row">
      <!-- social icons -->
      <div class="col-4 w3social-icons">
        <ul>
          <li>
            <a href="<%= contact.facebook() %>" class="rounded-circle">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="px-2">
            <a href="<%= contact.youtube() %>" class="rounded-circle">
              <i class="fab fa-youtube"></i>
            </a>
          </li>
        </ul>
      </div>
      <!-- //social icons -->
      <div class="col-4 header-loginw3ls text-lg-right text-center">
        <a href="#" class="log" data-toggle="modal" data-target="#exampleModalCenter1">
          <i class="fas fa-user mr-2"></i> Login</a>
      </div>
      <div class="col-4 header-loginw3ls">
        <a href="#" class="log" data-toggle="modal" data-target="#exampleModalCenter2">
          <i class="fas fa-key mr-2"></i> Register</a>
      </div>
    </div>
  </div>
</div>
