<section class="pricing py-5" id="pricings">
  <div class="container py-xl-5 py-lg-3">
    <div class="text-center mb-lg-5 mb-4">
      <h3 class="tittle mb-2 text-white">Our Pricings</h3>
      <p class="test-title-paara">A few word about our Planes</p>
    </div>
    <div class="inner-sec">
      <div class="card-deck text-center row mt-5">
        <div class="price-info-grid col-lg-4">
          <div class="price-inner">
            <div class="price-header">
              <h4>Starter</h4>
            </div>
            <div class="price-body">
              <h5 class="pricing-title">
                <span class="dolor">$</span> 789.00
                <label>Per Month</label>
              </h5>
              <ul class="list-unstyled mt-3 mb-4">
                <li class="py-2 border-bottom">Advertising</li>
                <li class="py-2 border-bottom">Branding Services</li>
                <li class="py-2 border-bottom">Online Marketing</li>
                <li class="py-2 border-bottom">Creative Marketing</li>
                <li class="py-2">-</li>
              </ul>
              <a href="#" class="btn btn-block py-2" data-toggle="modal" data-target="#exampleModalCenter2">
                <i class="far fa-user"></i> Get Started</a>
            </div>
          </div>
        </div>
        <div class="price-info-grid col-lg-4 my-lg-0 my-3">
          <div class="price-inner">
            <div class="price-header">
              <h4>Professional</h4>
            </div>
            <div class="price-body">
              <h5 class="pricing-title">
                <span class="dolor">$</span>1089.00
                <label>Per Month</label>
              </h5>
              <ul class="list-unstyled mt-3 mb-4">
                <li class="py-2 border-bottom">Advertising</li>
                <li class="py-2 border-bottom">Branding Services</li>
                <li class="py-2 border-bottom">Online Marketing</li>
                <li class="py-2 border-bottom">Creative Marketing</li>
                <li class="py-2">-</li>
              </ul>
              <a href="#" class="btn btn-block btn-outline-primary py-2" data-toggle="modal" data-target="#exampleModalCenter2">
                <i class="far fa-user"></i> Get Started</a>
            </div>
          </div>
        </div>
        <div class="price-info-grid col-lg-4">
          <div class="price-inner">
            <div class="price-header">
              <h4>Enterprise</h4>
            </div>
            <div class="price-body">
              <h5 class="pricing-title">
                <span class="dolor">$</span>2189.00
                <label>Per Month</label>
              </h5>
              <ul class="list-unstyled mt-3 mb-4">
                <li class="py-2 border-bottom">Advertising</li>
                <li class="py-2 border-bottom">Branding Services</li>
                <li class="py-2 border-bottom">Online Marketing</li>
                <li class="py-2 border-bottom">Creative Marketing</li>
                <li class="py-2">-</li>
              </ul>
              <a href="#" class="btn btn-block btn-outline-primary py-2" data-toggle="modal" data-target="#exampleModalCenter2">
                <i class="far fa-user"></i> Get Started</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
