<%#include "service.h"%>
<% tfetch(QList<Service>, services) %>
<div class="what-w3ls py-5" id="services">
  <div class="container py-xl-5 py-lg-3">
    <div class="text-center mb-md-5 mb-4">
      <h3 class="tittle mb-sm-2">Our Services</h3>
      <p>Some words about our property services</p>
    </div>

    <div class="row">
    
      <% for (const auto &i : services) { %>
        <div class="col-md-6">
    
          <div class="row what-top my-md-5 my-4">
    
            <div class="col-2 what-left">
    
              <i class="<%= i.icon() %>"></i>
            </div>
    
            <div class="col-10 what-right">
              <h4><%= i.name() %></h4>
    
              <p class="mt-2">
                <%= i.subline() %>
              </p>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>
