<div class="bannerbg-w3l">
  <header>
    <div class="header_topw3layouts_bar">
      <div class="container">
        <%== renderPartial("header") %>
        <%== renderPartial("nav") %>
      </div>
    </div>
  </header>
  <%== renderPartial("banner") %>
</div>
